@import 'configs';
@import 'header';
@import 'section-a';
@import 'section-b';
@import 'footer';
@import 'mobile';

*{
    box-sizing: border-box;
    font-family: $alata;
}

body{
    margin: 0;
    overflow-x: hidden;
}